.active {
  border: none;
}

.active,
.collapsible:hover {
  background-color: #b7adcf;
}

#author {
  font-size: 20px;
  margin: 15px;
  text-align: center;
}

#author > a:link {
  color: #252323;
  text-decoration: none;
}

#author > a:hover {
  color: #252323;
  text-decoration: underline;
}

#author > a:visited {
  color: #252323;
}

#avatar {
  border-radius: 50%;
  height: 256px;
  width: 256px;
}

#body {
  font-size: 22px;
  margin-left: 250px;
}

.button {
  margin-left: 95px;
}

.collapsible {
  background-color: #9c89b8;
  border: none;
  border-bottom: 1px #252323 solid;
  color: #f0e6ef;
  cursor: pointer;
  font-size: 20px;
  margin-left: 50px;
  outline: none;
  padding: 18px;
  text-align: center;
  width: 75%;
}

.collapsible-txt {
  background-color: #73648a;
  border-bottom: 1px #252323 solid;
  display: none;
  margin-left: 50px;
  overflow: hidden;
  text-align: center;
  width: 75%;
}

.comment {
  background-image: linear-gradient(
    to right,
    rgba(156, 137, 184, 1),
    rgba(156, 137, 184, 0)
  );
  border-radius: 5px;
  margin-bottom: 20px;
  margin-left: 50px;
  padding: 5px;
  text-align: center;
  width: 75%;
}

#content {
  background-color: rgb(37, 35, 35);
  color: rgb(240, 230, 239);
  font-family: "Roboto", sans-serif;
  padding-bottom: 5%;
}

.dropdown {
  background-image: none; 
}

#dropdown-lbl {
  width: auto;
}

fieldset {
  border: none;
  padding: none;
  display: inline-block;
}

#footer {
  background-color: rgb(128, 128, 128);
  bottom: 0;
  color: #252323;
  height: 7%;
  left: 0;
  overflow: hidden;
  position: fixed;
  width: 100%;
}

form {
  border: 2px solid rgb(156, 137, 184, 1);
  border-radius: 5px;
  margin-left: 50px;
  padding: 2px;
  width: 400px;
}

form > fieldset > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  margin-left: 200px;
  padding: 1.5%;
}

html,
body {
  height: 100%;
  margin: 0;
}

input,
textarea {
  border: 2px solid rgb(156, 137, 184, 1);
  padding: 2px;
  border-radius: 5px;
  box-sizing: border-box;
  width: 300px;
}

label {
  display: inline-block;
  width: 90px;
}

#links > ul {
  display: flex;
  justify-content: center;
}

#links > ul > li {
  display: inline-block;
  padding: 0.3%;
}

#links > ul > li > a:link {
  color: #252323;
  cursor: pointer;
  text-decoration: none;
}

#links > ul > li > a:hover {
  color: #252323;
  text-decoration: underline;
}

#links > ul > li > a:visited {
  color: #252323;
}

#quote {
  display: inline-block;
  font-family: "Arvo", serif;
  font-size: 30px;
  padding: 1%;
  text-align: center;
}

.section {
  margin: auto;
  padding: 1%;
}

.section-title {
  background-image: linear-gradient(
    to right,
    rgba(156, 137, 184, 1),
    rgba(156, 137, 184, 0)
  );
  border-radius: 5px;
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 20px;
  padding: 5px;
}

#sidenav {
  background-color: #b8bedd;
  height: 93%;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
  position: fixed;
  top: 0;
  width: 200px;
}

#sidenav a {
  color: #252323;
  cursor: pointer;
  display: block;
  font-size: 25px;
  padding: 6px 6px 6px 32px;
  text-decoration: none;
}

#sidenav a:hover {
  text-decoration: underline;
}

textarea {
  resize: none;
  vertical-align: top;
}

#title {
  flex: 1;
  font-size: 30px;
  margin-left: 0.75%;
  margin-top: auto;
}
